a.cn-button {
	display: block;
	padding: 0.7em 1.7em;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.2em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #FFFFFF;
	background-color: #000000;
	box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.9), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.9), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.9);
	text-align: center;
    position: relative;
    width: 100%;
}

a.cn-button:active {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.9), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.9);
    color: #FFFFFF;
}

a.cn-button:hover {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.9), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.9);
    color: #FFFFFF;
}